{% extends 'home/base.html' %}

{% load static %}

{% block title %}Strata Consult{% endblock %}

{% block content %}

        {% include 'includes/home_carousel.html' %}

        <!-- Content Start -->
        <div class="container-fluid pt-5">
            <div class="container py-5">
                <div class="about-item overflow-hidden text-center">
                    <h2 class="mb-5">Nos secteurs d'activités</h2>
                </div>
                <div class="row m-0">
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <a href="{% url 'home:etude_sol' %}" class="text-dark">
                            <div class="bg-white text-center py-4">
                                <div class="px-4 pb-0 py-2">
                                    <h6>Géo-Strata</h6>
                                    <small><i>Pour les études des sols, sous-sol et eau</i></small>
                                </div>
                            </div>
                            <img src="{% static 'img/geo-strata.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <a href="{% url 'home:emploi' %}" class="text-dark">
                            <div class="bg-white text-center py-4">
                                <div class="px-4 pb-0 py-2">
                                    <h6>Strata-Emploi</h6>
                                    <small><i>Facilitation et opportunités d’emploi et stages</i></small>
                                </div>
                            </div>
                            <img src="{% static 'img/emploi.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <a href="{% url 'home:formation' %}" class="text-dark">
                            <div class="bg-white text-center py-4">
                                <div class="px-4 pb-0 py-2">
                                    <h6>Strata-Formation</h6>
                                    <small><i>Formationet renforcement des capacités</i></small>
                                </div>
                            </div>
                            <img src="{% static 'img/strata-formation.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <a href="{% url 'home:emploi' %}" class="text-dark">
                            <div class="bg-white text-center py-4">
                                <div class="px-4 pb-0 py-2">
                                    <h6>Strata-RH</h6>
                                    <small><i>Gestion des ressources humaines</i></small>
                                </div>
                            </div>
                            <img src="{% static 'img/strata-rh.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <a href="{% url 'home:immobilier' %}" class="text-dark">
                            <div class="bg-white text-center py-4">
                                <div class="px-4 pb-0 py-2">
                                    <h6>Strata-Immo</h6>
                                    <small><i>Businness et investissement immobilier</i></small>
                                </div>
                            </div>
                            <img src="{% static 'img/immo.webp' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <a href="{% url 'home:service' %}" class="text-dark">
                            <div class="bg-white text-center py-4">
                                <div class="px-4 pb-0 py-2">
                                    <h6>Strata-Service</h6>
                                    <small><i>Prestationde service et main d'oeuvre</i></small>
                                </div>
                            </div>
                            <img src="{% static 'img/strata-services.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <a href="{% url 'home:entrepreneur' %}" class="text-dark">
                            <div class="bg-white text-center py-4">
                                <div class="px-4 pb-0 py-2">
                                    <h6>Strata-Entrepreneur</h6>
                                    <small><i>L'orientationet assistance entrepreneuriale</i></small>
                                </div>
                            </div>
                            <img src="{% static 'img/strata_entrepreneur.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <a href="{% url 'home:partenariat' %}" class="text-dark">
                            <div class="bg-white text-center py-4">
                                <div class="px-4 pb-0 py-2">
                                    <h6>Partenariat et affilliation</h6>
                                    <small><i>Strata et ses partenaires</i></small>
                                </div>
                            </div>
                            <img src="{% static 'img/partenariat.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <a href="#" class="text-dark">
                            <div class="bg-white text-center py-4">
                                <div class="px-4 pb-0 py-2">
                                    <h6>Plus de services</h6>
                                    <small><i>Rechercher un service</i></small>
                                </div>
                            </div>
                            <img src="{% static 'img/strata-plus.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content End -->

{% endblock %}
