{% load static %}
<!-- Carousel Start -->

<div class="hero-content splide h-100" role="group" aria-label="Hero Slider">
    <div class="splide__track">
        <div class="splide__list">
            <div class="item splide__slide" style="background-image: url(../../static/img/geo-strata.png); background-size: cover;">
                <div class="d-flex flex-column justify-content-center align-items-center text-white w-100 h-100" style="background-color: rgba(0, 0, 0, .4);">
                    <h4 class="text-white mb-2" style="font-size: 3rem;">Geo-Strata</h4>
                    <p>Pour les études des sols, sous-sol et eau</p>
                    <a href="{% url 'home:etude_sol' %}">En savoir plus</a>
                </div>
            </div>
            <div class="item splide__slide" style="background-image: url(../../static/img/emploi.jpg); background-size: cover;">
                <div class="d-flex flex-column justify-content-center align-items-center text-white w-100 h-100" style="background-color: rgba(0, 0, 0, .4);">
                    <h4 class="text-white mb-2" style="font-size: 3rem;">Strata-Emploi</h4>
                    <p>Facilitation et opportunités d’emploi et stages</p>
                    <a href="{% url 'home:emploi' %}">En savoir plus</a>
                </div>
            </div>
            <div class="item splide__slide" style="background-image: url(../../static/img/strata-formation.png); background-size: cover;">
                <div class="d-flex flex-column justify-content-center align-items-center text-white w-100 h-100" style="background-color: rgba(0, 0, 0, .4);">
                    <h4 class="text-white mb-2" style="font-size: 3rem;">Strata-Formation</h4>
                    <p>Formations et renforcement de capacités</p>
                    <a href="{% url 'home:formation' %}">En savoir plus</a>
                </div>
            </div>
            <div class="item splide__slide" style="background-image: url(../../static/img/strata-rh.png); background-size: cover;">
                <div class="d-flex flex-column justify-content-center align-items-center text-white w-100 h-100" style="background-color: rgba(0, 0, 0, .4);">
                    <h4 class="text-white mb-2" style="font-size: 3rem;">Strata-RH</h4>
                    <p>Gestion des ressources humaines</p>
                    <a href="{% url 'home:emploi' %}">En savoir plus</a>
                </div>
            </div>
            <div class="item splide__slide" style="background-image: url(../../static/img/immo.webp); background-size: cover;">
                <div class="d-flex flex-column justify-content-center align-items-center text-white w-100 h-100" style="background-color: rgba(0, 0, 0, .4);">
                    <h4 class="text-white mb-2" style="font-size: 3rem;">Strata-Immo</h4>
                    <p>Business et investissements immobilier</p>
                    <a href="{% url 'home:immobilier' %}">En savoir plus</a>
                </div>
            </div>
            <div class="item splide__slide" style="background-image: url(../../static/img/strata-formation.png); background-size: cover;">
                <div class="d-flex flex-column justify-content-center align-items-center text-white w-100 h-100" style="background-color: rgba(0, 0, 0, .4);">
                    <h4 class="text-white mb-2" style="font-size: 3rem;">Strata-Service</h4>
                    <p>Prestation des services et main d'œuvre</p>
                    <a href="{% url 'home:service' %}">En savoir plus</a>
                </div>
            </div>
            <div class="item splide__slide" style="background-image: url(../../static/img/strata_entrepreneur.jpg); background-size: cover;">
                <div class="d-flex flex-column justify-content-center align-items-center text-white w-100 h-100" style="background-color: rgba(0, 0, 0, .4);">
                    <h4 class="text-white mb-2" style="font-size: 3rem;">Strata-Entrepreneur</h4>
                    <p>L'orientation et assistance entrepreneurial.</p>
                    <a href="{% url 'home:entrepreneur' %}">En savoir plus</a>
                </div>
            </div>
            <div class="item splide__slide" style="background-image: url(../../static/img/partenariat.jpg); background-size: cover;">
                <div class="d-flex flex-column justify-content-center align-items-center text-white w-100 h-100" style="background-color: rgba(0, 0, 0, .4);">
                    <h4 class="text-white mb-2" style="font-size: 3rem;">Partenariat et affiliation</h4>
                    <p>Strata et ses partenaires</p>
                    <a href="{% url 'home:entrepreneur' %}">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>


    
</div>
<!-- Carousel End -->
